/* basic style rules */
:root {
    font-family: sans-serif;
    --footer-background: #cec1de;
    --footer-color: #584b67;
    --button-color: #0084ff;
    --link-color: white;
    --card-color: #7c7b80;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF8F3;
}

img {
    pointer-events: none;
}

.main {
    padding: 1em;
    background-image: url("./media/bg1.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;

}

#novosti {
    font-size: 3.125em;
    text-align: center;
    color: #393A5B;
}


.novosti {
    padding: 5.75em 9.75em;
}

#left1 {
    flex-direction: row-reverse;
}

#left2 {
    flex-direction: row-reverse;
}

.novosti .card-novosti {
    display: flex;
    justify-content: space-around;
    gap: 7.5em;
    padding-bottom: 9.75em;
}

.novosti img {
    width: 26.68em;
    height: 32.375em;
}

.novosti .text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2.8125em;
}

.novosti .text h3 {
    font-size: 3em;
    line-height: 98%;
    color: #302E4F;
    margin-bottom: 1em;
}

.novosti .text p {
    font-size: 1.3125em;
    line-height: 161.9%;
    color: #999597;
    margin-bottom: 1.5625em;
}

.novosti button {
    border: none;
    border-radius: 3.875em;
    background-color: #262346;
    color: #C5C1C7;
    padding: 1em 3.875em;
    cursor: pointer;
}

.novosti button:hover {
    background-color: #504D78;
}

/*.partners {*/
/*    background-color: #FFFFFF;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    overflow: hidden;*/
/*}*/

.partners h2 {
    font-size: 3.125em;
    text-align: center;
    color: #393A5B;
}

.partners {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #f8f8f8;
    padding: 20px 0;
}

/* Общая обертка */
.slider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Лента с логотипами */
.sliderp {
    display: flex;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
    width: max-content;
}

/* Анимация движения */
@keyframes infiniteScrollRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-33.33%);
    }
}

@keyframes infiniteScrollLeft {
    from {
        transform: translateX(-33.33%);
    }
    to {
        transform: translateX(0%);
    }
}

/* Добавляем бесконечное движение */
.top {
    animation: infiniteScrollRight 20s linear infinite;
}

.bottom {
    animation: infiniteScrollLeft 20s linear infinite;
}

/* Стиль для логотипов */
.sliderp img {
    max-width: 150px;
    height: auto;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.125em;
}


.price h3 {
    font-size: 3em;
    line-height: 98%;
    color: #302E4F;
    margin-bottom: 1em;
}

.price p {
    font-size: 1.3125em;
    line-height: 161.9%;
    color: #999597;
    margin-bottom: 1.5625em;
    text-align: center;
}

.price .card {
    display: flex;
    flex-direction: row;
    padding: 39px 152px;
    gap: 50px;
    background-color: #CEC1DE;
}

.price .card img {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.price .card .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.875em;
}

#tarif {
    display: flex;
    flex-direction: row;
    gap: 1.5625em;
}

#tarif button {
    border: none;
    background-color: #FFFFFF;
    border-radius: 0.625em;
    color: #424242;
    padding: 1.5em 3.375em;
}

#tarif button:hover {
    background-color: #f54242;
    color: white;
}
#tarif button.active {
    background-color: #EE1919;
    color: white;
}

.price .card .text button {
    background-color: #EE1919;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.75em;
    cursor: pointer;
}

.price .card .text button:hover {
    background-color: #f54242;
}

.price .card .text input {
    border: #787878 solid 1px;
    background-color: transparent;
    padding: 0.625em;
}

#inp {
    display: flex;
    gap: 0.625em;
}

#socs {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.price .card .text .socsety {
    display: flex;
    gap: 1.125em;
}

.price .card .text .socsety input {
    margin: 0;
}

.price .card .text .socsety p {
    margin: 0;
    color: #565656;
}

.main .content {
    max-width: 100em;
    margin: auto;
}

.header a {
    color: var(--link-color);
    text-decoration: none;
}

.header ul {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.header li {
    display: inline;
    margin-right: .5em;
    margin-left: .5em;
}

.support-button {
    background: black;
    padding: .5em;
}

footer {
    color: var(--footer-color);
    padding: 1em;
    background: var(--footer-background);
}

footer .content {
    /* max-width: 100em; */
    margin: auto;
    margin-top: 4em;
    display:flex;
    flex-wrap:wrap;
}

footer div.column {
    /* height:30em; */
    /* background-color:#cda; */
    width:calc( ( 100% - 340px ) / 4 );
    /* margin:0 0 20px; */
    margin-left: 1em;
}

footer div.column li a {
    color: var(--footer-color);
    text-decoration: none;
}

footer div.column li {
    list-style-type: none;
}

.slider {
    position: relative;
    width: 402px;
    overflow: hidden;
    max-width: fit-content;
    margin: auto;
}

.slider p {
    color: var(--card-color);
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    min-width: 350px;
    margin: 0 5px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

.card img {
    top:50%;
    left:50%;
    width:350px;
    height:350px;
    object-fit:cover;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 50px;
    height: 20px;
    margin: 0 5px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 5px black;
}

.dot.active {
    background-color: yellow;
}

