:root {
    color-scheme: light;
    --background: #123634;
    --color: white;
    --footer-background: #0C2422;
    --button-background: #87A46D;
}

html {
    font: 100% sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

div {
    padding: 1em;
}

div.header {
    background: url("image/header.jpg") no-repeat center var(--background);
    background-size: cover;
    color: var(--color);
    padding: 2em;
    text-shadow: 0 0 .5em black;
}

div.header-container {
    margin: 0em;
    padding: 0em;
}

h1.h1-header {
    font-size: 4em;
}

div.nav {
    background: var(--background);
    color: var(--color);
    text-align: center;
    flex-direction: row;
}

a.nav-button {
    background: var(--button-background);
    color: var(--color);
    padding: .75em;
    margin: 0 .5em;
    border-radius: 1em;
    text-decoration: none;
    transition: .2s;
}

a.nav-button:hover, a.nav-button:visited:hover {
    transition: .2s;
    filter:brightness(0.75);
}

div.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

div.main {
    background: var(--background);
    color: var(--color);
}

div.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

div.card {
    background: white;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    margin: 1em;
    color: black;
    max-width: 350px;
    color: #828282;
}

div.card img {
    border-radius: 1em;
}

div.card h3 {
    color: #2D4E2C;
}

div.footer {
    background: var(--footer-background);
    color: var(--color);
}

div.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

div.footer-request {
    background: #235552;
    border: 2px solid #2B472A;
    border-radius: 1em;
    padding: 1em 2em;
}

div.footer-request textarea {
    resize: none;
}

div.footer-request input, div.footer-request textarea {
    background: #0C2422;
    color: #B7B7B7;
    border: 2px solid #2B472A;
    padding: 1em 1.5em;
    border-radius: 1em;
    outline: none;
    transition: .2s;
}

div.footer-request input:visited:hover, div.footer-request textarea:visited:hover, div.footer-request input:hover, div.footer-request textarea:hover {
    transition: .2s;
    filter:brightness(0.75);
}

hr {
    outline:none;
    border:none;
    background: #2B472A;
    height: 2px;
}

div.card hr {
    background: #87A46D;
}

div.card h1.card-num {
    color: #537050;
}